 <div><h1>Stupid Coaching</h1></div>

 <div class="form-label"><h3>You:</h3>
   <h1 class="card-title" ><%= @answer %></h1>
 </div>
 <div class="border">
  <h3 class="card-title">The coach:</h3>
  <h1><%= @response %></h1>
  <h1><%=  link_to "ask a new question", ask_path %></h1>
</div>
